
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  Major: '0'
  Minor: '1'
  Patch: '0'

steps:
- task : UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '3.1.100'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    arguments: '-c $(buildConfiguration)'
    
- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    configuration: $(buildConfiguration)
    packagesToPack: '**/*.csproj'
    nobuild: true
    versioningScheme: 'byPrereleaseNumber'
    majorVersion: $(Major)
    minorVersion: $(Minor)
    patchVersion: $(Patch)

- task: DotNetCoreCLI@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: 'dee0f159-5b38-44f4-b582-516f041bec05'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/*.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'MyGet Push'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop-azure-ci'
    publishLocation: 'Container'




